name: Azure Load Test POC

on:
  workflow_dispatch:

jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Start Existing Azure Load Test
        run: |
          az load test-run start \
            --resource-group RGP-DAUXS-TerraForm-EASTUS \
            --load-test-resource cdot-jmeter-test \
            --test-id jmeter-gha-existing-test
