name: Azure Load Testing
on: [push]

jobs:
  loadtest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Run Azure Load Test'
        uses: azure/load-testing@v1
        with:
          loadTestConfigFile: 'config.yaml'
          loadTestResource: 'cdot-jmeter-test'
          resourceGroup: 'RGP-DAUXS-TerraForm-EASTUS'
