name: Azure Load Test - Managed Success

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  load-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          # Use the secret you already have in GitHub
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Run Azure Load Test'
        uses: azure/load-testing@v1.1.25
        with:
          loadtestConfigFile: 'config.yaml'
          loadtestResource: 'cdot-jmeter-test'
          resourceGroup: 'CIPSandbox-rg'
